Repository dibiancoj/LibraryCore, changes with the labels that .github/labeler.yml gives for each.
All labels: all, jsonnet, core, aspnet, commandline, xmlserializer, parsers, mongo, caching, htmlrendering, sessionstate, apiclient, kafka

.github/labeler.yml:

# Add 'repo' label to any root file changes
all:
- '*'

jsonnet:
- Src/LibraryCore.JsonNet/**/*

core:
- Src/LibraryCore.Core/**/*

aspnet:
- Src/LibraryCore.AspNet/**/*

commandline:
- Src/LibraryCore.CommandLineParser/**/*

xmlserializer:
- Src/LibraryCore.XmlSerialization/**/*

parsers:
- Src/LibraryCore.Parsers/**/*

mongo:
- Src/LibraryCore.Mongo/**/*

caching:
- Src/LibraryCore.Caching/**/*

htmlrendering:
- Src/LibraryCore.AspNet.HtmlRendering/**/*

sessionstate:
- Src/LibraryCore.AspNet.DistributedSessionState/**/*

apiclient:
- Src/LibraryCore.ApiClient/**/*

kafka:
- Src/LibraryCore.Kafka/**/*

Add a few code coverage exclusions.
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/MyIntegrationHostedAgent.cs
  Tests/LibraryCore.Tests.Kafka/KafkaTest.cs
Labels: none

Exclude Kafka integration tests locally
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/Fixtures/KafkaFixture.cs
Labels: none

update
  Tests/LibraryCore.Tests.Kafka/Framework/MyUnitTestHostedAgent.cs
Labels: none

update
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdafsd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

Kafka
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/Fixtures/KafkaFixture.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/MyIntegrationHostedAgent.cs
  Src/LibraryCore.Kafka/IKafkaProcessor.cs
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
  Tests/LibraryCore.Tests.Kafka/Framework/MyUnitTestHostedAgent.cs
  Tests/LibraryCore.Tests.Kafka/KafkaTest.cs
Labels: kafka

Working version with full integration test
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Api/KafkaApi.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/LibraryCore.IntegrationTests.Framework.Kafka.csproj
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/MyIntegrationHostedAgent.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Program.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Properties/launchSettings.json
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Registration/KafkaRegistration.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/appsettings.Development.json
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/appsettings.json
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/Fixtures/KafkaFixture.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/Fixtures/WebApplicationFactoryFixture.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/LibraryCore.IntegrationTests.Kafka.csproj
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/MyIntegrationHostedAgent.cs
  LibraryCore.sln
  Src/LibraryCore.Core/DiagnosticUtilities/DiagnosticUtility.cs
  Src/LibraryCore.Kafka/IKafkaProcessor.cs
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
  Tests/LibraryCore.Tests.Core/DiagnosticUtilities/DiagnosticUtilityTest.cs
  Tests/LibraryCore.Tests.Kafka/Framework/MyUnitTestHostedAgent.cs
Labels: all, core, kafka

up the timeout
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
Labels: none

sdfsd
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
Labels: none

sdfsd
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/Fixtures/WebApplicationFactoryFixture.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
Labels: none

use a default node id so easily scenarios can register without specify the dependencies.
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
  Tests/LibraryCore.Tests.Kafka/KafkaTest.cs
Labels: kafka

Remove delay
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/MyIntegrationHostedAgent.cs
Labels: none

sdfsd
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
Labels: none

sdfsd
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Registration/KafkaRegistration.cs
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

asdfasd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

dfgdf
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdfsd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

fgdf
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdfsd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdfsd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdfsd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

fds
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdfsd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

Update library core for the method change. (was a breaking change)
  Src/LibraryCore.Core/LibraryCore.Core.csproj
Labels: core

sdfsd
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdfgdf
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
Labels: none

model cleanup
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Api/KafkaApi.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Api/Models/ApiPostModel.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Api/Models/KafkaMessageModel.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Api/Models/KafkaProcessedItemModel.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/MyIntegrationHostedAgent.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Program.cs
  IntegrationTests/Framework/LibraryCore.IntegrationTests.Framework.Kafka/Registration/KafkaRegistration.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/Fixtures/WebApplicationFactoryFixture.cs
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/KafkaIntegrationTest.cs
  Src/LibraryCore.Kafka/KafkaConsumerService.cs
Labels: kafka

sdfds
  IntegrationTests/LibraryCore.IntegrationTests.Kafka/Fixtures/WebApplicationFactoryFixture.cs
Labels: none
